@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
html {
    font-size: 62.5%;
}

/* header section */
header {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 8.5rem;
}
header > nav {
    width: 80%;
    max-width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
}
nav > p {
    color: rgb(19, 19, 19);
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
}
nav > ul {
    display: flex;
    gap: 2rem;
}
nav > ul > li {
    list-style: none;
}
nav > ul > li > a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.8rem;
    font-weight: 500;
}
.header-container {
    width: 80%;
    max-width: 140rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 auto;
    padding-bottom: 4.5rem;
}
.header-content {
    width: 80%;
    max-width: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-content > h1 {
    color: rgb(19, 19, 19);
    font-size: 6.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}
.header-content > p {
    color: rgb(114, 114, 114);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
}
.header-content > button {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    padding: 2.1rem 2.5rem;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    cursor: pointer;
}
.header-container > img {
    width: 100%;
}

/* quick list section */
.quick-list {
    width: 70%;
    max-width: 130rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5rem;
    margin: 0 auto;
    margin-bottom: 13rem;
}
.image-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 342px);
    gap: 2rem;
}
.image-wrapper > img {
    width: 100%;
    height: 100%;
}
.list-content {
    max-width: 535px;
}
.list-content > h2 {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2.4rem;
}
.color1 {
    color: rgb(114, 114, 114);
    font-weight: 400;
}
.color2 {
    color: rgb(255, 144, 14);
}
.list-content > p {
    color: rgb(114, 114, 114);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 3.2rem;
}
.list-content > button {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 2.1rem 2.5rem;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    cursor: pointer;
}

/* features section */
.features {
    width: 80%;
    max-width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
    margin: 0 auto;
    margin-bottom: 17rem;
}
.features-content {
    max-width: 58.6rem;
}
.features-content > h2 {
    max-width: 468px;
    color: rgb(19, 19, 19);
    font-size: 4.5rem;
    font-weight: 700;
    text-align: left;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 2rem;
    margin-bottom: 2.4rem;
}
.features-content > p {
    color: rgb(114, 114, 114);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 3rem;
}
.features-cards {
    padding: 3rem 4.2rem 3rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 2rem;
}
.features-cards:last-child {
    margin-bottom: 0;
}
.features-cards > h3 {
    color: rgb(19, 19, 19);
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1rem;
}
.features-cards > p {
    color: rgb(114, 114, 114);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
}
.features-image {
    position: relative;
}
.years {
    width: 342px;
    position: absolute;
    bottom: -7rem;
    left: -7rem;
    padding: 4.2rem 4.6rem;
    border-radius: 8px;
    background: rgb(255, 144, 14);
}
.years > p:first-child {
    color: rgb(255, 255, 255);
    font-size: 6.5rem;
    font-weight: 700;
    text-align: center;
}
.years > p:last-child {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}




@media screen and (max-width: 576px) {
    /* header section */
    header > nav {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
        padding: 3rem 0 6rem;
    }
    nav > p {
        font-size: 3.5rem;
    }
    .header-container {
        width: 90%;
        gap: 3rem;
        padding-bottom: 3rem;
    }
    .header-content, 
    .list-content, 
    .features-content {
        max-width: 100%;
    }
    .header-content > h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
    }
    .header-content > p, 
    .list-content > p {
        margin-bottom: 2rem;
    }
    .header-content > button, 
    .list-content > button {
        font-size: 1.6rem;
        padding: 1.6rem 2.6rem;
    }

    /* quick list section */
    .quick-list {
        width: 90%;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 8.5rem;
    }
    .image-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .list-content > h2 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    /* features section */ 
    .features {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .features-content > h2 {
        width: 100%;
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        padding-left: 1rem;
    }
    .features-content > p {
        width: 100%;
    }
    .features-cards {
        width: fit-content;
        padding: 2.5rem;
    }
    .features-cards > p {
        font-size: 1.4rem;
    }
    .features-image > img {
        width: 100%;
    }
    .years {
        width: fit-content;
        left: 0;
        padding: 3.2rem 3.6rem;
    }
    .years > p:first-child {
        font-size: 4.5rem;
    }
    .years > p:last-child {
        font-size: 1.8rem;
    }
}